<html>
    <head>
        <title>Programacion Web</title>
    </head>
    <body>
        <h1>Programacion Web</h1>
        <h2>Carlos Ramos Hernandez</h2>
        @RenderBody()
    <footer>Fecha: @DateTime.Now.ToShortDateString()</footer>
        </body>
    </html>