
@{ 
    Layout = "_Layout";
}
<form method="post" action="~/Home/Operacion">
    <fieldset>
        <legend> Numeros a sumar:</legend>

        <label>Valor 1:</label><input name="N1" /><br />
        <label>Valor 2:</label><input name="N2" /><br />
        <input type="submit" value="Mostrar" />

    </fieldset>
</form>
